.dl-profile-booking-wrapper, .dl-profile-not-bookable-wrapper {
    flex: 4;
    padding: 0 30px;
    position: relative;
}
.dl-profile-booking-wrapper {
    display: flex;
    margin-bottom: 16px;
    z-index: 2;
    margin-top: -80px;
}
.profiles #booking, .appointments #booking {
    min-height: 300px;
}
.dl-profile-booking {
    flex: 1;
}
.dl-booking-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 14px;
}
.dl-booking-title {
    position: relative;
    display: block;
    padding: 8px 16px;
    color: #fff;
    background-color: #0596de;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 4px 10px 0 rgba(67,95,113,0.2);
    margin-bottom: -4px;
    z-index: 1;
}

@media (min-width: 768px){    
    .dl-text-title-sub-bold {
        font-size: 16px;
    }

}

.dl-text-title-sub-bold {
    font-family: "Montserrat",arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: none;
    text-align: left;
}

.dl-text-color-inherit {
    color: inherit;
}

.dl-text {
    margin: 0;
    font-weight: 400;
    
}
h3.dl-text{
    color: #fff;
    font-weight: 500;
}
@media (min-width: 768px){
    .dl-text-title-sub-bold {
        font-size: 16px;
    }

}


.dl-text-title-sub-bold {
    font-family: "Montserrat",arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: none;
    text-align: left;
}

.dl-text-color-inherit {
    color: inherit;
}

.dl-text {
    margin: 0;
    font-weight: 400;
}
@media (min-width: 768px){
    .dl-text-title-sub-bold {
        font-size: 16px;
    }

}
.dl-text-title-sub-bold {
    font-family: "Montserrat", arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: none;
    text-align: left;
}
.dl-text-color-inherit {
    color: inherit;
}




.dl-booking-title {
    position: relative;
    display: block;
    padding: 8px 16px;
    color: #fff;
    background-color: #0596de;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 4px 10px 0 rgba(67,95,113,0.2);
    margin-bottom: -4px;
    z-index: 1;
}
@media (min-width: 768px){
    .dl-text-body {
        font-size: 14px;
    }

}

.dl-booking-title-subtext {
    margin-top: 8px;
}
.dl-booking-title:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: auto;
    margin-top: 0;
    margin-left: -6px;
    bottom: -6px;
    border-style: solid;
    border-width: 6px 6px 0;
    border-color: #0596de transparent transparent;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.booking.booking-compact-layout {
    background: #fff;
    border: 1px solid rgba(67,95,113,0.2);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 10px rgba(67,95,113,0.08);
}
.booking {
    padding: 32px 0 16px;
}
.dl-step {
    position: relative;
    padding-left: 30px;
    padding-right: 16px;
}
.dl-step-progress.dl-step-progress-completed {
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    height: calc(100% + 1px);
}
.dl-step-number-completed {
    background-color: #17b355;
}

.dl-step-number {
    position: absolute;
    width: 28px;
    height: 28px;
    left: -14px;
    top: -3px;
    text-align: center;
    font-weight: 700;
    line-height: 28px;
    border-radius: 50%;
    background-color: #0596de;
    color: #fff;
    -webkit-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}
.dl-step-number svg {
    width: 28px;
    height: 28px;
}
.dl-layout-spacing-xs-0 {
    margin: 0;
    width: 100%;
}
.booking hr {
    margin: 16px 0;
}

.after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    float: right;
    position: absolute;
    right: 10px;
    top: 16px;
}
.dropdown-toggle{
    width: 100% !important;
    font-family: "Roboto",arial,sans-serif;
    border: 1px solid #cfd8dc;
    border-radius: 4px;
    background-color: #fff;
    color: #435f71;
    line-height: 20px;
    width: auto;
    padding-right: 30px; 
    box-shadow: none;
}
.react-datepicker__tab-loop{
    display: block !important;
}

.react-datepicker-wrapper {    
    width: 100%;
}

.book-btn{
    background-color: #0596de;
    color: #fff;
}
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-check svg{
      margin-top: 20px;
      width: 60px;
      height: 60px;
  }